html,body,ul,li{
	margin: 0;
	padding: 0;
}
.galery {
	margin: 0 auto;
	width: 960px;
	text-align: center;
}
.galery .photos{
	position: relative;
	height: 640px;
}
.galery .photos img{
	width: 100%;
	height: 640px;
	position: absolute;
	left: 0;
	opacity: 0;
	transition: opacity 1s;
}
 .showed{
	opacity: 1;
}
